<p>basic works!</p>
username: <input [(ngModel)]="username" /> <br/>
<button (click)="onAction()">hello</button> <br/>
message: <b>{{message}}</b>
<hr/>
<!--
<a routerLink="/ngr-basic/calculatrice/simple" >calculatrice simple</a><br/>
<a routerLink="/ngr-basic/calculatrice/sophistiquee" >calculatrice sophistiquee</a><br/>
<a routerLink="/ngr-basic/tva" >tva</a><br/>

<router-outlet></router-outlet> 
-->
<!-- sera rempacé par TvaComponent ou bien CalculatriceComponent-->



<!--
<tabset>
    <tab heading="calculatrice (v1)">
        <app-calc></app-calc>
    </tab>
    <tab heading="calculatrice (v2)">
       <app-calculatrice></app-calculatrice>
   </tab>
   <tab heading="calcul tva">
       <app-tva></app-tva>
    </tab>
</tabset>

-->

<bsu-toggle-panel title="calculatrice">
  <app-calculatrice></app-calculatrice>  
</bsu-toggle-panel>

<bsu-toggle-panel title="calcula tva">
    <app-tva></app-tva>  
  </bsu-toggle-panel>


<app-xy></app-xy>
<app-zz></app-zz>
